students_service/src/communicator.wsdl

<wsdl:definitions name="CommunicatorService" targetNamespace="http://tempuri.org/" 
           xmlns:xs="http://www.w3.org/2001/XMLSchema" 
           xmlns:tns="http://tempuri.org/"
           xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
           xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:types>
        <xs:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
            <xs:element name="CoursesRequest">
            </xs:element>
            <xs:element name="CourseRequest">
            </xs:element>

            <xs:element name="StudentRequest">
            </xs:element>
            <xs:element name="StudentRequest">
            </xs:element>
            
            <xs:element name="StudentsGetRequest">
            </xs:element>
            <xs:element name="StudentSpecificGetRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="1" maxOccurs="1" name="studentId" type="xs:integer"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="Student">
                <xs:complexType>
                    <xs:all>
                        <xs:element name="id" type="xs:int" />
                        <xs:element name="first_name" type="xs:string" />
                        <xs:element name="last_name" type="xs:string" />
                        <xs:element name="university" type="xs:string" />
                        <xs:element name="courses" element="tns:CourseArray" />
                    </xs:all>
                </xs:complexType>
            </xs:element>
            <xs:element name="StudentArray">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" maxOccurs="unbounded" name="Student" nillable="true" element="tns:Student"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="CoursesAddRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="1" maxOccurs="1" name="studentId" type="xs:integer"/>
                        <xs:element minOccurs="1" maxOccurs="1" name="courseId" type="xs:integer"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="CourseAddRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="1" maxOccurs="1" name="courseId" type="xs:integer"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="Course">
                <xs:complexType>
                    <xs:all>
                        <xs:element name="id" type="xs:int" />
                        <xs:element name="name" type="xs:string" />
                        <xs:element name="price" type="xs:float" />
                    </xs:all>
                </xs:complexType>
            </xs:element>
            <xs:element name="CourseArray">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" maxOccurs="unbounded" name="Course" nillable="true" element="tns:Course"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="AddResp">
                <xs:complexType>
                <xs:sequence>
                    <xs:element minOccurs="1" maxOccurs="unbounded" name="result" type="xs:string"/>
                </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>

    <wsdl:message name="StudentSpecificGetRequest">
        <wsdl:part name="parameters" element="tns:StudentSpecificGetRequest"/>
    </wsdl:message>
    <wsdl:message name="StudentSpecificGetResponse">
        <wsdl:part name="parameters" element="tns:Student"/>
    </wsdl:message>
    <wsdl:message name="StudentsGetRequest">
        <wsdl:part name="parameters" element="tns:StudentsGetRequest"/>
    </wsdl:message>
    <wsdl:message name="StudentsGetResponse">
        <wsdl:part name="parameters" element="tns:StudentArray"/>
    </wsdl:message>
    <wsdl:message name="CoursesRequest">
        <wsdl:part name="parameters" element="tns:CoursesRequest"/>
    </wsdl:message>
    <wsdl:message name="CoursesResponse">
        <wsdl:part name="parameters" element="tns:CourseArray"/>
    </wsdl:message>

    <wsdl:message name="CoursesAddRequest">
        <wsdl:part name="parameters" element="tns:CoursesAddRequest"/>
    </wsdl:message>

    <wsdl:message name="CourseRequest">
        <wsdl:part name="parameters" element="tns:CourseRequest"/>
    </wsdl:message>
    <wsdl:message name="CourseResponse">
        <wsdl:part name="parameters" element="tns:CourseArray"/>
    </wsdl:message>

    <wsdl:message name="CourseAddRequest">
        <wsdl:part name="parameters" element="tns:CourseAddRequest"/>
    </wsdl:message>

    <wsdl:message name="CourseAddRequest">
        <wsdl:part name="parameters" element="tns:CourseAddRequest"/>
    </wsdl:message>

     <wsdl:message name="CourseAddResponse">
        <wsdl:part name="parameters" element="tns:CourseAddResponse"/>
    </wsdl:message>

    <wsdl:message name="StudentRequest">
        <wsdl:part name="parameters" element="tns:StudentRequest"/>
    </wsdl:message>
    <wsdl:message name="StudentResponse">
        <wsdl:part name="parameters" element="tns:StudentArray"/>
    </wsdl:message>

    <wsdl:message name="StudentAddRequest">
        <wsdl:part name="parameters" element="tns:StudentAddRequest"/>
    </wsdl:message>

    <wsdl:message name="StudentAddRequest">
        <wsdl:part name="parameters" element="tns:StudentAddRequest"/>
    </wsdl:message>

     <wsdl:message name="StudentAddResponse">
        <wsdl:part name="parameters" element="tns:StudentAddResponse"/>
    </wsdl:message>

    <wsdl:message name="CoursesAddResponse">
        <wsdl:part name="parameters" element="tns:AddResp"/>
    </wsdl:message>

    <wsdl:message name="CourseAddResponse">
        <wsdl:part name="parameters" element="tns:AddResp"/>
    </wsdl:message>

    <wsdl:message name="StudentAddResponse">
        <wsdl:part name="parameters" element="tns:AddResp"/>
    </wsdl:message>

    <wsdl:portType name="CommunicatorPort">
        <wsdl:operation name="getStudent">
            <wsdl:input message="tns:StudentSpecificGetRequest" />
            <wsdl:output message="tns:StudentSpecificGetResponse" />
        </wsdl:operation>
        <wsdl:operation name="getStudents">
            <wsdl:input message="tns:StudentsGetRequest" />
            <wsdl:output message="tns:StudentsGetResponse" />
        </wsdl:operation>
        <wsdl:operation name="getCourses">
            <wsdl:input message="tns:CoursesRequest" />
            <wsdl:output message="tns:CoursesResponse" />
        </wsdl:operation>
        <wsdl:operation name="addCourses">
            <wsdl:input message="tns:CoursesAddRequest" />
            <wsdl:output message="tns:CoursesAddResponse" />
        </wsdl:operation>

        <wsdl:operation name="addCourse">
            <wsdl:input message="tns:CourseAddRequest" />
            <wsdl:output message="tns:CourseAddResponse" />
        </wsdl:operation>

        <wsdl:operation name="addStudent">
            <wsdl:input message="tns:StudentAddRequest" />
            <wsdl:output message="tns:StudentAddResponse" />
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="CommunicatorBinding" type="tns:CommunicatorPort">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        
        <wsdl:operation name="addCourse">
            <soap:operation soapAction="addCourse" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>

    
        <wsdl:operation name="getCourses">
            <soap:operation soapAction="getCourses" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="addCourse">
            <soap:operation soapAction="addCourse" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="addStudent">
            <soap:operation soapAction="addStudent" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="addCourses">
            <soap:operation soapAction="addCourses" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getStudent">
            <soap:operation soapAction="getStudent" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getStudents">
            <soap:operation soapAction="getStudents" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="CommunicatorService">
        <wsdl:port name="CommunicatorPort" binding="tns:CommunicatorBinding">
            <soap:address location="http://localhost:3000/wsdl"/>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>